<a href="https://colab.research.google.com/github/ElieB-1012/Pandas-Project/blob/main/Pandas_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Project:**

**Dataset:**

This dataset contains information about city hotel and resort hotel reservations, and includes information such as date of reservation, length of stay, number of adults, children and /or babies, and the number of parking spaces available, among others.

**NOTE:** The names, emails, phone numbers and credit card numbers in the data are synthetic and are not information from real people. On the other hand, the hotel data is real and comes from the publication mentioned above.

In [1]:
import pandas as pd

# READ CSV to execute

# read from Github so you can run the notebook without worrying about importing the csv file
url='https://raw.githubusercontent.com/moncoachdata/MasterClass_DS_ML/main/hotel_booking_data.csv'
hotels = pd.read_csv(url)

In [40]:
# Check how dataset look like
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_kids,counts
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,0.0,62230
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,0.0,62230
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,0.0,62230
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,0.0,62230
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,0.0,62230

In [ ]:
# Information on Dataset
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

# **How many rows are there in the Dataset ?**

In [ ]:
# Two ways:
hotels.shape[0]

119390

In [ ]:
len(hotels)

119390

# **Are there any missing data?**

# **If so, which column has the most missing data?**

# **How much missing data is there in the dataset?**

In [ ]:
hotels.isnull().values.any()

True

In [ ]:
hotels.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [ ]:
print("Company has the more missing values")

Company has the more missing values

In [ ]:
hotels.isnull().sum().sum()

129425

# **Delete the "company" column from the dataset**

In [ ]:
hotels.drop("company", axis = 1).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 35 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
 31  name                            119390 non-null  object
 32  email                           119390 non-null  object
 33  phone-number                    119390 non-null  object
 34  credit_card                     119390 non-null  object
dtypes: float64(3), int64(16), object(16)
memory usage: 31.9+ MB

# **What are the 5 most frequent country in the dataset ?**

In [ ]:
hotels['country'].value_counts()[:5]

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

# **What is the name of the person who paid the highest average daily rate? What was this amount?**

**average daily rate/tariff = adr (Average Daily Rate)**

In [ ]:
hotels.groupby(['name']).mean()['adr'].max()

5400.0

In [ ]:
hotels.sort_values('adr',ascending=False)[['adr','name']].iloc[0]

adr            5400.0
name    Daniel Walter
Name: 48515, dtype: object

# **The 'adr' is the average daily rate for a person's stay at the hotel. What is the average ADR for all hotel stays in the dataset?**

In [ ]:
hotels['adr'].mean()

101.83112153446686

In [ ]:
hotels[['hotel', 'adr']].groupby("hotel").mean()

                     adr
hotel
City Hotel    105.304465
Resort Hotel   94.952930

# **What is the average number of nights for a stay in the dataset?**
**round to 2 decimal places.**

In [ ]:
round((hotels['stays_in_week_nights'] + hotels['stays_in_weekend_nights']).mean(), 2)

3.43

# **What is the average total cost of a stay in the dataset?**

In [4]:
round((hotels['adr'] * (hotels['stays_in_week_nights'] + hotels['stays_in_weekend_nights'])).mean(),2)

357.85

# **What are the names and emails of the people who made 5 "special requests/requests"?**

In [8]:
hotels[["name", "email"]][hotels['total_of_special_requests'] == 5]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

# **What is the percentage of hotel stays classified as "regular / repeat guests"?**

In [22]:
len(hotels[hotels['is_repeated_guest'] == 1]) / len(hotels) * 100

3.191222045397437

In [18]:
round(100 * sum(hotels['is_repeated_guest'] == 1) / len(hotels),2)

3.19

# **What are the 5 most common family name in the dataset?**

In [27]:
hotels['name'].apply(lambda name: name.split()[-1]).value_counts()[:5]

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: name, dtype: int64

# **What are the 3 names of the people who had booked for the most children and babies for their stay?**

In [29]:
hotels['total_kids'] = hotels['babies'] + hotels['children']

hotels.sort_values('total_kids',ascending=False)[['name','adults','total_kids','babies','children']][:3]

                  name  adults  total_kids  babies  children
328      Jamie Ramirez       2        10.0       0      10.0
46619  Nicholas Parker       2        10.0      10       0.0
78656    Marc Robinson       1         9.0       9       0.0

# **What are the 5 most common area codes in phone numbers?**

In [32]:
hotels['phone-number'].apply(lambda phone_number: phone_number.split('-')[0]).value_counts()[:5]

799    168
185    167
541    166
739    163
763    163
Name: phone-number, dtype: int64

# **How many arrivals took place between the 1st and the 15th of the month (1st and 15th included)?**

In [57]:
hotels['arrival_date_day_of_month'].between(1, 15).sum()

58152

In [52]:
hotels['arrival_date_day_of_month'].apply(lambda day: day in range(1,16)).sum()

58152

# **Create a tally chart for each day of the week that people arrived.**

In [58]:
import numpy as np

In [59]:
def convert(day,month,year):
    return f'{day}-{month}-{year}'

In [60]:
hotels['date']  = np.vectorize(convert)(hotels['arrival_date_day_of_month'],
                                        hotels['arrival_date_month'],
                                        hotels['arrival_date_year'])

In [64]:
hotels['date'] = pd.to_datetime(hotels['date'])

In [65]:
hotels['date']

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
119385   2017-08-30
119386   2017-08-31
119387   2017-08-31
119388   2017-08-31
119389   2017-08-29
Name: date, Length: 119390, dtype: datetime64[ns]

In [66]:
hotels['date'].dt.day_name().value_counts()

Friday       19631
Thursday     19254
Monday       18171
Saturday     18055
Wednesday    16139
Sunday       14141
Tuesday      13999
Name: date, dtype: int64